Webpack (imports/exports)
    Реализовать Babel
    SCSS
    Работа с Eslint'ом для того чтобы следить за чистотой кода
    2 modes 
        - Dev
            Dev Served(позволяет перезагружать окно браузера если произошли изенения в коде), SourceMap (исходные карты с указанием на те модули
            , где мы вели разработку), Eslint(чистота и единообразие кода), Not Mininfied JS/CSS
        - Prod
            Minified code (сжатие кода для более быстрой загрузки приложения)
Git
    Production(версия, которую видит пользователь)
        1.0.0
        0 ==========================
    Development (версия которая разрабатывается)
        1.0.2
        1 ========================== (++) Pull request для того чтобы совместить 2 и 1 ветки, после чего вторая ветка как правило удадяется
        2 ==========================++ (remove)